:root{
    --primary:#000;
}

.btn{
    padding:8px 20px;
    border-radius: 2px;
    outline:none;
    cursor:pointer;
}

.btn--primary{
    background-color: var(--primary);
    color:rgb(22, 22, 22);
    border:2px solid var(--primary);
}

.btn--outline{
    background-color: transparent;
    color:black;
    border:2px solid var(--primary);
    transition:all 0.3s ease-out;
}

.btn--medium{
    padding:8px 20px;
    font-size:20px;
}

.btn--large{
    padding:12px 26px;
    font-size: 26px;
}

.btn--medium:hover, .btn--large:hover, .btn--outline:hover{
    background-color: black;
    color:white;
    transition:250ms;
}